.Payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Payment .Group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.Pay{
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2%;
    padding: 2%;
    justify-content: space-between;
}

.Payment-Content{
    text-align: center;
}

.Payment-Title{
    font-size: 4rem;
    font-weight: 600;
    background: linear-gradient(to left, #ee0979, #ff6a00);
    background-clip: text;
    color: transparent;
}

hr{
    margin-top: 5%;
    border: 1px solid #ff6a00;
    width: 100%;
}

.Bank img{
    width: 100%;
}

.Bank{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
}

.Bank table{
    width: 100%;
}

.Bank th, .Bank td{
    padding: 2%;
    text-align: left;
}

.Bank h3{
    padding: 2%;
}

.cTrans{
    background-color: #dcdcdc;
    color: rgb(105, 105, 105);
    border-radius: 5px;
    margin: 2%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cTrans h3{
    font-weight: 500;
    font-size: 0.9rem;
}

@media screen and (max-width: 768px){
    .Pay{
        display: none;
    }

    .Bank{
        display: flex;
        width: 100%;
        height: 100%;
        margin-bottom: 10vh !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 2%;
        margin: 2%;
    }
}
    